<div class="comment-item <%= cycle("even", "odd") %>">
	<div class="row">
		<div class="comment-votes small-2 columns">
			    <input type="hidden" value="5219535">
			    <a class="vote-up-off" title="This question shows research effort; it is useful and clear (click again to undo)">up vote</a>
			    <span class="vote-count-post ">1</span>
			    <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful (click again to undo)">down vote</a> 
		</div>
		<div class="comment-body small-10 columns">
			<%= simple_format(comment.comment).html_safe %>
		</div>
	</div>
	<div class="comment-footer row">
		<div class="comment-meta small-6 columns">
			<a href="">Sửa</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="">Báo cáo vi phạm</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="">Trả lời</a>
		</div>
		<div class="comment-author small-6 columns">
			<%= link_to image_tag(comment.user.profile_photo, :alt => 'Awesome profile', :size => '40x40', :class => 'comment-author-avatar'), edit_user_registration_path %>
			<span class="author-name-meta">
				Bởi <strong><%= comment.user.firstname + ' ' + comment.user.lastname %></strong> - 2h trước <br>
				<a href="" class="button xsmall green">Theo</a>
			</span>
		</div>
	</div>
</div>