@font-face {
    font-family: 'HelveticaNeueLTCom77BoldCondensed';
    src: url('helveticaneueltcom-bdcn.eot');
    src: url('helveticaneueltcom-bdcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdcn.woff') format('woff'),
         url('helveticaneueltcom-bdcn.ttf') format('truetype'),
         url('helveticaneueltcom-bdcn.svg#HelveticaNeueLTCom77BoldCondensed') format('svg');
}
