  <li id="commentary-<%= commentary.id %>" class="commentary-item odd">
    <span class="timestamp"><strong><%= commentary.minute %></strong></span>
    <span class="commentary-content"><%= commentary.commentary_text.to_s %></span>
  </li>