// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#comment-container {
	margin-top: 50px;
}


#comment-container p, #comment-container li {
	font-size: 13px;
	color: #666666;
}

#comment-container h2 {
	font-family: 'Helvetica Neue Condensed', Helvetica, sans-serif;
	color: #000000; /* text color */
	font-size: 13px;
	line-height: 100%;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 15px 0;
}

#comment-list {
	border-top: solid 1px #f0f0f0;
}

.comment-item.even, .comment-item.odd {
	/* background: #fcfcfc; */
	border-bottom: solid 1px #f1f1f1;
	padding: 20px 0 15px;
	overflow: hidden;
}

.comment-item.odd {
	/* background: #FFFFFF; */
}

.comment-item .comment-body {
	padding-left: 65px !important;
}

.comment-item .comment-meta {
	padding-left: 50px !important;
}

.comment-item .comment-meta p, .comment-item .comment-meta a {
	font-size: 8px;
	letter-spacing: 0.25;
	line-height: 100%;
	color: #8f8f8f;
	text-transform: uppercase;
}

.comment-item img.comment-author-avatar, form .comment-textarea img.comment-author-avatar {
	float: left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.comment-item a.avatar-block, form .comment-textarea a.avatar-block {
	float: left;
	margin-left: -50px;
}

.comment-item .author-name-meta {
	font-size: 14px;
	line-height: 1.5;
	color: #8f8f8f;
	top: -5px;
	position: relative;
}

.comment-item .author-name-meta strong {
	color: #0077cc;
}

.comment-item .button.follow {
	width: 40px;
	height: 18px;
	display: block;
	top: 45px;
	left: 15px;
	position: absolute;
	font-family: 'Helvetica Neue Condensed', Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 8px;
	padding-top: 5px;
}

.comment-item .voting {
}

.question-page .vote-count-post, .review-task-page .vote-count-post {
	padding-top: 2px;
	color: #555;
}

.vote span {
}

.vote-count-post {
}

form.new_comment .comment-textarea {
	padding-left: 50px;
	margin-top: 30px;
	position: relative;
}

form.new_comment .comment-textarea textarea {
	height: 70px;
}

form.new_comment .comment-textarea img.comment-author-avatar {
	position: absolute;
	left: 0;
}

form.new_comment .button {
	margin-left: 50px;
}