@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('helveticaneuecondensedbold.eot');
    src: url('helveticaneuecondensedbold?iefix') format('eot'),
         url('helveticaneuecondensedbold.woff') format('woff'),
         url('helveticaneuecondensedbold.ttf') format('truetype'),
         url('helveticaneuecondensedbold.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('myriadpro-cond.eot');
    src: url('myriadpro-cond?iefix') format('eot'),
         url('myriadpro-cond.woff') format('woff'),
         url('myriadpro-cond.ttf') format('truetype'),
         url('myriadpro-cond.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    src: url('myriadpro-boldcond.eot');
    src: url('myriadpro-boldcond?iefix') format('eot'),
         url('myriadpro-boldcond.woff') format('woff'),
         url('myriadpro-boldcond.ttf') format('truetype'),
         url('myriadpro-boldcond.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;
}