@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url('helveticaneuecondensedbold.eot');
    src: url('helveticaneuecondensedbold?iefix') format('eot'),
         url('helveticaneuecondensedbold.woff') format('woff'),
         url('helveticaneuecondensedbold.ttf') format('truetype'),
         url('helveticaneuecondensedbold.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Semi Bold Condensed';
    src: url('myriadpro-semiboldcond.eot');
    src: url('myriadpro-semiboldcond?iefix') format('eot'),
         url('myriadpro-semiboldcond.woff') format('woff'),
         url('myriadpro-semiboldcond.ttf') format('truetype'),
         url('myriadpro-semiboldcond.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;
}