$main_text_color: #595959;
$main_text_size: 13px;
$main_text_line_height: 23px;

$facebook_color: #4C66A4;

#top-bar-wrapper {
	background: #000000;
}

.top-bar-section .profile_avatar {
	float: left;
	margin: 10px 5px 0 0;
}

.top-bar-section ul li > a.button.facebook {
	-moz-border-radius: 3px; /* from vector shape */
	-webkit-border-radius: 3px; /* from vector shape */
	border-radius: 3px; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #898989; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0YjY1YTMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzhmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
	background-image: -moz-linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
	background-image: -o-linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
	background-image: -webkit-linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
	background-image: linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
}

.top-bar-section li a:not(.button) {
}

.top-bar-section li a:not(.button):hover, 
.top-bar-section li.has-dropdown.hover a:not(.button),
.top-bar-section li.hover a:not(.button) .dropdown li a {
    background: #FFFFFF;
	color: $main_text_color;
}

.top-bar-section li.has-dropdown > a {
	z-index: 1001;
	position: relative;
}

.top-bar-section .dropdown {
    background-color: #fff; /* layer fill content */
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.24); /* drop shadow */
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.24); /* drop shadow */
	box-shadow: 0 0 5px rgba(0,0,0,.24); /* drop shadow */
	z-index: 1000;
	padding: 0 15px;
}

.top-bar-section .dropdown li a {
	border-bottom: solid 1px #d9e5bd;
	padding-left: 0;
}

.top-bar-section .dropdown li:last-child a {
	border-bottom: none;
	margin-bottom: 5px;
}

/* ======= Button overiding =========== */
.button {
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 3px; /* from vector shape */
	-webkit-border-radius: 3px; /* from vector shape */
	border-radius: 3px; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #ff5400; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4yMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4yMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
	background-image: -moz-linear-gradient(90deg, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient fill */
	background-image: -o-linear-gradient(90deg, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient fill */
	background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient fill */
	background-image: linear-gradient(90deg, rgba(0,0,0,.21) 0%, rgba(255,255,255,.21) 100%); /* gradient fill */
}

.button.facebook {
	-moz-border-radius: 3px; /* from vector shape */
	-webkit-border-radius: 3px; /* from vector shape */
	border-radius: 3px; /* from vector shape */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #898989; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0YjY1YTMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzhmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
	background-image: -moz-linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
	background-image: -o-linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
	background-image: -webkit-linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
	background-image: linear-gradient(90deg, #4b65a3 0%, #6c8fe3 100%); /* gradient fill */
}