// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#match-left-content {
	width: 610px;
	margin-top: 50px;
}

#match-left-content #match-info {
	background: url('sprites.png') top center no-repeat;
	overflow: hidden;
}

#match-info .match-header .match-timestamp {
	display: block;
}

#match-info .match-header .match-timestamp span {
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	display: block;
	margin-left: 235px;
	margin-top: 12px;
}

#match-info .match-competitors {
	margin-top: 15px;
	color: #FFFFFF;
	padding: 20px 15px;
}

#match-info .match-competitors .team {
	padding-left: 0;
	overflow: hidden;
}

#match-info .match-competitors .team.team-away {
	padding-right: 0;
	padding-left: 15px;
}

#match-info .match-competitors .team .team-info {
	padding: 8px 15px 8px 0;
	overflow: hidden;
}

#match-info .match-competitors .team.team-away .team-info {
	padding: 8px 0 8px 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,.75); /* drop shadow */
}

#match-info .match-competitors .team .opacity-bg {
	position: absolute;
	top: 0;
	right: 100px;
	bottom: 0;
	left: 0;
	opacity: .24; /* layer alpha */
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #000; /* layer fill content */
	z-index: 500;
}


#match-info .match-competitors .team.team-away .opacity-bg {
	right: 0;
	left: 100px;
	opacity: .24;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
}

#match-info .match-competitors .team .team-logo {
	width: 40px;
	height: 50px;
	display: block;
	position: relative;
	font-size: 18px;
	line-height: 18px;
	z-index: 600;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

#match-info .match-competitors .team.team-away .team-logo {
	float: right;
}

#match-info .match-competitors .team .team-name {
	font-family: 'Helvetica Neue Condensed', Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	font-size: 18px;
	line-height: 18px;
	margin-top: 20px;
	z-index: 600;
	float: left;
	text-transform: uppercase;
}

#match-info .match-competitors .team.team-away .team-name {
	font-family: 'Helvetica Neue Condensed', Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	float: right;
}

#match-info .match-competitors .team .team-score {
	font-family: 'Helvetica Neue Condensed', Helvetica, sans-serif;
	font-size: 53px;
	line-height: 100%;
	position: relative;
	z-index: 600;
	float: right;
	margin-right: 20px;
	margin-top: -50px;
}

#match-info .match-competitors .team.team-away .team-score {
	z-index: 600;
	float: left;
	margin-left: 20px;
}

#match-info .match-overal {
	background: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #444444;
	font-size: 13px;
	text-align:center;
}

#match-info .match-overal ul {
	margin-bottom: 0;
}

#match-info .match-overal ul li {
	text-align: right;
	padding-right: 10px;
}

#match-info .match-overal ul li strong {
	color: #000000;
}

#match-info .match-overal .not_started {
	font-family: Helvetica, sans-serif;
	color: #444444;
	font-size: 25px;
	line-height: 50px;
	display: block;
	text-align: center;
}

#match-info .match-overal .subscribe_match {
	display: inline-table;
	margin: 0 auto 15px;
}

#match-tasks ul.tasks-tabs {
	border-bottom: solid 1px #e2e2e2; /* outer stroke */
	background-color: #fff; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient fill */
	background-image: linear-gradient(90deg, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%); /* gradient fill */
	background-image: -moz-linear-gradient(90deg, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%); /* gradient fill */
	background-image: -o-linear-gradient(90deg, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%); /* gradient fill */
	background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,.07) 0%, rgba(255,255,255,.07) 100%); /* gradient fill */
	margin-bottom: 0;
}

#match-tasks ul.tasks-tabs li {
	float: left;
	list-style: none;
	border-right: solid 1px #eaeaea;
}

#match-tasks ul.tasks-tabs li a {
	font-family: "Myriad Pro Bold Condensed", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 48px;
	color: #4f4f4f;
	text-transform: uppercase;
	padding: 0 20px;
	text-decoration: none;
	border-right: solid 1px #fdfdfd;
	display: block;
}

#match-tasks ul.tasks-tabs li:first-child, #match-tasks ul li:first-child a {
	border-left: none;
}

#match-tasks ul.tasks-tabs .ui-state-active a {
	background-color: #f3f3f3; /* layer fill content */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhZGFkYWQiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient fill */
	background-image: linear-gradient(90deg, rgba(173,173,173,.2) 0%, rgba(0,0,0,.2) 100%); /* gradient fill */
	background-image: -moz-linear-gradient(90deg, rgba(173,173,173,.2) 0%, rgba(0,0,0,.2) 100%); /* gradient fill */
	background-image: -o-linear-gradient(90deg, rgba(173,173,173,.2) 0%, rgba(0,0,0,.2) 100%); /* gradient fill */
	background-image: -webkit-linear-gradient(90deg, rgba(173,173,173,.2) 0%, rgba(0,0,0,.2) 100%); /* gradient fill */
}

#match-tasks .label {
	font-size: 8px;
	font-family: "Helvetica Neue Condensed",Helvetica,sans-serif;
	width: 75px;
	text-align: center;
	text-transform: uppercase;
}

#match-tasks .ui-tabs-panel {
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	width: 100%;
	overflow: hidden;
}

#match-tasks #live-commentary .commentary-inner {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

#commentaries {
	margin-bottom: 0;
}

#commentaries li {
	list-style: none;
	display: block;
	overflow: hidden;
	padding: 10px 0;
	border-bottom: solid 1px #f8f8f8;
}

#commentaries li:last-child {
	border-bottom: none;
}

#commentaries li.even {
	background: #f7f7f7;
}

#commentaries li span.timestamp {
	width: 110px;
	margin-right: 10px;
	display: block;
	float: left;
}

#commentaries li span.timestamp strong {
	width: 100%;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 24px;
}

#commentaries li span.commentary-content {
	display: block;
	padding-left: 120px;
}