// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-container {
	top: -85px;
	position: relative;
	z-index: 400;
	background: #FFFFFF;
}

#post-container .full-width {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

#post-container img.post-header-image {
	top: 15px;
	margin-bottom: 36px;
}

#post-container h1.post-heading {
	font-size: 28px;
	line-height: 34px;
}

#post-container div.introduction p {
	font-size: 18px;
	line-height: 1.4;
	color: #6f6f6f;
	font-weight: 300;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

p.page-timestamp {
	padding: 0;
	margin-top: 50px;
}

form textarea.redactor#post_summary {
	height: 120px;
}

form textarea.redactor#post_content {
	height: 320px;
}